body {
    background-image: url('meeting.jpg');
    background-blend-mode : multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15%;
}


/* CSS for the main content */
.container {
    text-align: center;
    /*background-blend-mode : multiply;*/
    padding: 40px;
   
}

h1 {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

/* CSS for the links */
p {
    color: #fff;

}
.links {
    margin-top: 20px;
}

.links a,input,button {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
}
.bgblack{
    background-color: #333;
    border-radius: 5px;
    padding: 10px 20px;
}

/* CSS for the footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}