/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("img2.jpg"); /* Add this line with the path to your image */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, makes the background image fixed */
  /* Other background properties (position, etc.) can be added here */
}

/* Full-screen display */
body {
  display: block;
  justify-content: center;
  align-items: center;
}

::selection {
  background: #4158d0;
  color: #fff;
}

/* Your wrapper styles */
.wrapper {
  width: 700px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  place-items: center;
  background: #ffffff;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}

.wrapper .title {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: 90px;
  color: #fff;
  user-select: none;
  background: linear-gradient(-135deg, #32383d, #4d5358);
  border-radius: 15px 15px 0 0;
}

/* Your content styles */
.wrapper .content {
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

/* Form field styles */
.wrapper form .field {
  height: 90px;
  width: 100%;
  margin-top: 10px;
  border-style: none;
  /* position: relative; */
}
.table {
  background-color: #fff;
}

.meeting-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

#meeting-room,
#meeting-type,
#duration,
#start-time,
#title,
#meeting-date,
#members {
  width: 250px;
}
/* Your button styles */
button {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #470202;
  color: #fff;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #447546;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #76c07a;
}

/* Additional styles for ul and li elements */
ul {
  list-style-type: none;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Styles for links */
a {
  text-decoration: none;
  color: #0078d4;
}

a:hover {
  color: #ff4500;
}

.field.button-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add some margin to separate the buttons from the fields */
}

.button-container button {
  margin: 0 10px; /* Add some spacing between the buttons */
}

/* Navigation Bar */
.navigate {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #39405b !important;
}
/* for border shadow on js initialization when navbar is scrolled */
.shadowNav {
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.8);
}

#nv {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 18px;
}

.navbar-brand {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.875rem;
  line-height: 1.5;
  font-size: 24px;
}
#navLink {
  font-size: 24px;
}

.navbar-brand img {
  height: 2rem;
  /* top: 50%;
  transform: translateY(-50%); */
  position: absolute;
  top: 1.25rem;
}

.navbar-brand span {
  font-weight: bold;
}

.navname {
  margin-left: 4.6875rem;
}

#navbarColor02 {
  flex-grow: 0;
}

/* home starting */
.container-fluid {
}

.homecontainer {
  padding-bottom: 0;
}

.home {
  padding: 2% 0;
  /* background: aliceblue; */
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2); */
  margin-bottom: 3.75rem;
}

.content h2 {
  font-weight: unset;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.1;
  /* padding-top: 5px; */
}

.content p,
.content2 p {
  margin: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  width: 80%;
  padding-top: 0.9375rem;
  font-size: 1.1rem;
}

.start .btn {
  color: white;
  /* background-color: #39405b; */
  border: #39405b 1px solid;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.start .btn:hover {
  background: transparent;
  color: #676c72;
}

.aLink {
  color: white;
}
a:hover {
  color: #d1d2d3;
}

/* the contact section */
footer {
  background-color: #212529;
  /* height: 292px; */
  text-align: center;
  padding: 0.625rem;
  color: white;
}

.social-menu ul {
  padding: 0;
  position: absolute;
  /* bottom: 10%; */
  left: 50%;
  display: flex;
  transform: translate(-50%, 0px);
  /* margin: 35px 0; */
  margin: 0;
}

.social-menu ul li {
  list-style: none;
  margin: 0 1.875rem;
}

.social-menu ul li .fab {
  font-size: 1.875rem;
  line-height: 3.75rem;
  transition: 0.6s;
  color: #0a0b14;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10px);
}

.social-menu ul li a:hover .fab {
  color: white;
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #e4405f;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #3b5999;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #55acee;
}

.contact {
  font-size: 2rem;
  margin: 1.5625rem 0 0;
  font-family: "Poppins", serif;
  color: white;
}

.contactemail {
  font-size: 1.25rem;
  margin: 2.1875rem 0;
  background-color: white;
  color: #0a0b14;
  /* border: none; */
  font-weight: 500;
  border: black;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  font-family: serif;
}

.listitems {
  height: 2rem;
  margin: 0;
  margin-bottom: 3.125rem;
}

.copyright {
  font-size: 1rem;
  font-family: poppins;
}
/* Media query for responsiveness */
@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 100%; /* Adjust to full width on smaller screens */
  }
}

/* responsive behaviour */
@media screen and (max-width: 820px) {
  .wrapper form {
    /* padding: 15px 220px 60px 220px; */
    padding: 0px 0px 30px 0px;
  }

  .content-text {
    font-size: 1rem;
    padding: 1.25rem 1rem 0;
  }

  .content-img img {
    width: 40%;
    height: auto;
  }

  .content-img h3 {
    font-size: 1.5rem;
  }

  .social-menu ul li {
    margin: 0 20px;
  }

  .social-menu ul li a {
    width: 50px;
    height: 50px;
  }

  .social-menu ul li .fab {
    font-size: 25px;
    line-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    margin-bottom: 1.75rem;
  }

  .wrapper form {
    /* padding: 15px 220px 60px 220px; */
    padding: 0px 0px 30px 0px;
  }

  .content p,
  .content2 p {
    width: 90%;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-brand img {
    height: 1.4rem;
    top: 1.2rem;
  }

  .navname {
    margin-left: 50px;
  }

  .content-img {
    padding: 0.5rem;
    transform: translateY(4.25rem);
  }

  .content-img img {
    width: 30%;
    height: auto;
  }

  .content-img h3 {
    margin: 1rem 0 0.3125rem;
  }

  .content-text {
    font-size: 0.8rem;
  }

  .contact {
    font-size: 2.5rem;
    margin: 15px 0 0;
  }

  .contactemail {
    font-size: 1rem;
    margin: 30px 0;
  }
  [data-aos^="zoom"][data-aos^="zoom"] {
    opacity: 1;
    /* transition-property: opacity,transform; */
  }
  [data-aos="zoom-in-down"] {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
